{% extends 'registration/base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
  

  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <form class="login100-form validate-form p-l-55 p-r-55 p-t-178" method='post'>
          {% csrf_token %}
          <span class="login100-form-title">
            Sign Up
          </span>
          
          <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
            <input class="input100" type="text" maxlength="150" required autocapitalize="none" autocomplete="username" id="id_username" name="username" placeholder="Username">
            <span class="focus-input100"></span>
          </div>
  
          <div class="wrap-input100 validate-input m-b-16" data-validate = "Please enter password">
            <input class="input100" type="password" required id="id_password1" autocomplete="new-password" name="password1" placeholder="Password">
            <span class="focus-input100"></span>
          </div>

          <div class="wrap-input100 validate-input m-b-16" data-validate = "Re enter password">
            <input class="input100" type="password" required id="id_password2" autocomplete="new-password" name="password2" placeholder="Password Confirmation">
            <span class="focus-input100"></span>
          </div>
  
          <div class="container-login100-form-btn">
            <button class="login100-form-btn" type='submit'>
              Sign Up
            </button>
          </div>
  
          <div class="flex-col-c p-t-170 p-b-40">
            <span class="txt1 p-b-9">
              Already have an account?
            </span>
  
            <a href="{% url 'login' %}" class="txt3">
              Sign In now
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
